<div class="container">
  <div class="page-header">
    <div class="text-center">
      <h1>Wise Choice</h1>
      <h3>Fill in your stats and get started!</h3>
      </div>
  </div>
  <%= render 'form' %>
</div>
