<div class="container">
  <div class="page-header"><h1>Your Profile</h1></div>
  <dl class='dl-horizontal'>
    <dt>Name</dt><dd><%= @user.name %></dd>
    <dt>Hometown</dt><dd><%= @user.hometown %></dd>
    <dt>Birthday</dt><dd><%= @user.birthday %></dd>
    <dt>Email</dt><dd><%= @user.email %></dd>
  </dl>

</div>
