<div class="container">

  <img alt="wordcloud" class="img-responsive center-block"<%= image_tag('background.jpg') %>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="text-center">
    <%= link_to 'Start Playing', new_user_path, class: "btn btn-warning btn-lng btn-lg" %>
  </div>

  <p>&nbsp;</p>

</div>


<!-- horizontal navbar integrated with live scores across all sports -->

<!-- list of dropdown menus for each sport -->

<!-- main picture/video requires flash/java -->

<!-- each game links to message board, stats, video analysis -->

<!-- everything is shareable on social media -->

<!-- score nav bar stays fixed on top of the screen when scrolling down -->
