<div class="container">


  <img alt="barbets logo" class="col-md-offset-2"<%= image_tag('full_logo.png') %>

  <div class="col-md-offset-2">
    <%= link_to 'Get Started', sign_in_path, class: "btn btn-warning" %>
  </div>

</div>
