@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

footer {
  border-top: 1px solid #CCC;
  padding: 1em 0px;
  margin-top: 1em;
}

th {
  color: #eaa21c;
}

.btn-custom {
  border-width: 1px;
  border-color: #000;
  background-color: #eaa21c;
}

.navbar {
  background-color: #fff;
  padding-top: 5px;
  text-color: #000;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar ul li {
  color: #000;
  font-size: 1.3em;
}

.navbar ul li:hover {
  color: #eaa21c;
  background-color: #fff;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #eaa21c;
  text-decoration: none;
}

a:active {
  color: #eaa21c;
  text-decoration: none;
}
