@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

footer {
  border-top: 1px solid #CCC;
  padding: 1em 0px;
  margin-top: 1em;
}

th {
  color: #eaa21c;
}

.btn-custom {
  background-color: hsl(0, 0%, 9%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949", endColorstr="#161616");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#494949), to(#161616));
  background-image: -moz-linear-gradient(top, #494949, #161616);
  background-image: -ms-linear-gradient(top, #494949, #161616);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #161616));
  background-image: -webkit-linear-gradient(top, #494949, #161616);
  background-image: -o-linear-gradient(top, #494949, #161616);
  background-image: linear-gradient(#494949, #161616);
  border-color: #eaa21c #eaa21c;
  border-width: 2px;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
  color: #eaa21c !important;
}

.navbar {
  background-color: #fff;
  padding-top: 5px;
  text-color: #000;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar ul li {
  color: #000;
  font-size: 1.3em;
}

.navbar ul li:hover {
  color: #eaa21c;
  background-color: #fff;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #eaa21c;
  text-decoration: none;
}

a:active {
  color: #eaa21c;
  text-decoration: none;
}
