@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

footer {
  border-top: 1px solid #CCC;
  padding: 1em 0px;
  margin-top: 1em;
}

th {
  color: #eaa21c;
}

.navbar {
  background-color: #fff;
  padding-top: 5px;
  text-color: #000;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-form {
  color: #000;
  font-size: .8em;
  text-decoration: none;
}

.navbar ul li {
  color: #000;
  font-size: 1.3em;
}

.navbar ul li:hover {
  color: #eaa21c;
  background-color: #fff;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #eaa21c;
  text-decoration: none;
}

a:active {
  color: #eaa21c;
  text-decoration: none;
}
// Twitter CSS

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
